.blocks-container.pull-left
  .block.block1.about-me{ "ng-show" => "activePage == 'About'" }
    .block-header
      %h1 About Me
      
    .block-content
      %h2 Hello My Name Is Alexis
      %p Web developer, network engineer, video games enthusiast, cycling amateur and much more. Learning and working on web development wasn't my first idea of a dream job at first, many years of proving myself as a computer technician, working locally as freelance and employee wasn't enough. One day I decided to find a deeper and wider scope on computer sciences and before I could even say guacamole, my studies on network engineering career finished first was hard because of my career focus on CISCO systems (very helpful after a while), but with some effort, taking chances and support from my beloved ones I found a place to be, it is Web Development. Without a warning, I got in love with Ruby on Rails and started my path through it.

      %p Every day learning and improving my skills is a never ending goal, but one that gives me joy, the love for new things to see, riddles, problem-solving and the unstoppable challenge of life itself, this is the career I wanted.

  .block.block2.jobs{ "ng-show" => "activePage == 'Jobs'" }
    .block-header
      %h1 Jobs
    .block-content.media.job
      .media-left
        = link_to "#" do
          = image_tag "freelance.png", class: "jobs-image"
      .media-body
        %h2.media-heading= link_to "Freelance", "#"
        %p Like most people at the begining I worked as a normal freelance, going with the wind, low budget, direct contact with the clients. A very hard job but quite interesting because it was the time I learned the most.

    .block-content.media.job
      .media-left
        = link_to "http://www.etherpros.com/index.html", target: "_blank" do
          = image_tag "etherpros.png", class: "jobs-image"
      .media-body
        %h2.media-heading= link_to "Etherpros", "http://www.etherpros.com/index.html", target: "_blank"
        %p My first long term job on web development. From June 2013 to date, one of the best places I have worked at as Ruby on Rails developer, making multiple tasks: bug smashing, front/back end, QA, etc.

  .block.block3{ "ng-show" => "activePage == 'Skills'" }
    .block-header
      %h1 Skills
    .skills-table{ "ng-controller" => "skillsController" }
      .skill{ "ng-repeat" => "skill in skills", "ng-mouseover" => "hoverIn()", "ng-mouseleave" => "hoverOut()" }
        %p.skill-name.img-circle.text-center{ "ng-class" => "hoverSkill" } {{ skill.name }}
        %img.skill-image.img-circle{ "ng-src" => "{{ skill.url }}" }
      .clearfix


  .block.block4.contacts{ "ng-show" => "activePage == 'Contact'", "ng-controller" => "contactController" }
    .block-header
      %h1 Contact
    .block-content.vertical-block-content.contact
      %blockquote
        %p Coding
        %footer Alexis Rabago Carvajal
        %footer= mail_to "alexisraca@hotmail.com"

      %ul
        %li{ "ng-repeat" => "contact in alexis", "ng-mouseover" => "hoverIn()", "ng-class" => "hoverContact", "ng-mouseout" => "hoverOut()" }
          = link_to "{{ contact.url }}", target: "_blank" do
            %img.social-icon{ src: "/assets/{{contact.image}}"}
            %span
              {{contact.name}}

    .block-content.vertical-block-content.contact
      %blockquote
        %p Design/Art
        %footer Estephania Tirado Duran
        %footer= mail_to "tiraduran@gmail.com"
      %ul
        %li{ "ng-repeat" => "contact in yun", "ng-mouseover" => "hoverIn()", "ng-class" => "hoverContact", "ng-mouseout" => "hoverOut()" }
          = link_to "{{ contact.url }}", target: "_blank" do
            %img.social-icon{ src: "/assets/{{contact.image}}"}
            %span
              {{contact.name}}
  
        
      